*.suo
*vssscc

ACASLibraries.Web/*.bat

ACASLibraries.Web/npm-shrinkwrap.json
ACASLibraries.Web/README.txt
ACASLibraries.Web/coverage

*vspscc
*.user

obj/
node_modules/
bin/

ACASLibraries\ Test\ Application
ACASLibraries.Deploy
dist